API_KEY=123456
DATABASE_NAME=my_db_prod
DATABASE_PORT=1010
PORT=3000

POSTGRES_DB=/*name of the DB in production*/
POSTGRES_USER= /* db user in production */
POSTGRES_PASSWORD= /* production password */
POSTGRES_PORT= /* port production*/
POSTGRES_HOST= /* host where the db is hosted */